
a.js {
    text-decoration: none;
    border-bottom: 1px blue dotted;
}

a.js:visited {
    color: blue;
}

a.js.sel-var {
    color: black;
    cursor: default;
    border-bottom: 1px black solid;
}

.children-default-cursor div {
    cursor: default;
}

.children-default-cursor .clickable {
    cursor: pointer;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

div.footer {
    color: gray;

    text-align: center;
    font-size: 12px;
}
