
.children-default-cursor div {
    cursor: default;
}

.children-default-cursor .clickable {
    cursor: pointer;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
