
a.js {
    text-decoration: none;
    border-bottom: 1px blue dotted;
}

a.js:visited {
    color: blue;
}

a.js.sel-var {
    color: black;
    cursor: default;
    border-bottom: 1px black solid;
}

div.tooltip {
    position: fixed;
    display: none;

    width: 20em;
    padding: 5px 0.5em;

    border: 1px lightgray solid;

    background: rgba(255, 255, 255, 0.9);

    font-size: 0.8em;
}

div.paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
}

.children-default-cursor div {
    cursor: default;
}

.children-default-cursor .clickable {
    cursor: pointer;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

div.footer {
    color: gray;

    text-align: center;
    font-size: 12px;
}
